
// Bases color

$color-Light-blue: #28ADF9;
$color-purple: #7476F3;
$color-black: black;
$color-transition: rgb(10, 169, 218);
$color-white: white;
$color-cyan:  #87adfe;
$color-wheat: wheat;
$color-antiquewhite: antiquewhite;
