
// Pages sign in and sign up and ask for teacher and student and teacher

header.top_header .title-heading h5 {
    margin: 35px 0;
}

header.top_header .sign_up {
    margin-top: 8%;
}

.card.sign_up {
    padding: 60px;
    margin-top: 30px;
    background-color: azure;
    border-radius: 25px;
    box-shadow: 0 0 45px 0 rgb(0 0 0 / 15%);
}

.card.sign_up .form-group input,
.card.sign_up .form-group select {
    height: 50px;
    border-color: $color-transition;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.card.sign_up .form-group textarea {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-color: $color-transition;
}

.card.sign_up .btn-sign-up {
    background-color: $color-transition;
    padding: 12px 40px;
    border-radius: 25px;
    transition: all 0.3s ease-in-out;
}


.card.sign_up .btn-sign-up:hover,
.card.sign_up .btn-sign-up:active,
.card.sign_up .btn-sign-up:focus {
    color: $color-white;
}

.card.sign_up .image img {
    margin-top: 35%;
}