// Import file style scss (sass)

@import './fonts';
@import './color';
@import './images';
@import './header';
@import './about';
@import './features';
@import './how';
@import './teachers';
@import './list_teacher';
@import './filter';
@import './promotions';
@import './sign';
@import './contact';
@import './pagination';
@import './footer';


// Styles Website

html {
    box-sizing: border-box;
}

body {
    direction: ltr;
    font-family: $font-write;
    font-size: 18px;
}


// Social media icons 

.icon-social-media ul {
    padding: 0;
    margin-top: 8%;
}

.icon-social-media ul li {
    margin-left: 10px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 10px;
    background: linear-gradient(45deg, $color-cyan, $color-transition);
    transition: all 0.5s ease-in-out;
}

.icon-social-media ul li:hover,
.icon-social-media ul li:active,
.icon-social-media ul li:focus {
    background: linear-gradient(120deg, $color-purple, $color-transition);
}

.icon-social-media ul li a {
    text-decoration: none;
    font-size: 24px;
    color: $color-white;
    transition: all 0.5s ease-in-out;
}

.icon-social-media ul li a:hover,
.icon-social-media ul li a:active,
.icon-social-media ul li a:focus {
    color: $color-wheat;
}



// STYLES ABOUT US

section .title_section {
    margin: 45px 0;
}

.line {
    height: 2px;
    width: 130px;
    margin: -25px auto 30px;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}


// Choose a teachers

section.Choose-teacher.Our-Teachers .line {
    width: 175px;
}

section.more-features .icon-title-text img {
    height: 60px;
    margin: 50px 0 20px;
}

section.more-features .icon-title-text h5 {
    margin-bottom: 10px;
}


// Downlaod file PDF


.file_pdf a {
    text-decoration: none;
    background-color: $color-blue;
    color: $color-e;
    transition: all 0.3s ease-in-out;
}

.file_pdf a:hover {
    text-decoration: none;
    color: $color-antiquewhite;
}


// Dropdpwn 
.dropdown-menu.show.drop-list-student {
    width: 100%;
    background-color: $color-transition;
}

.dropdown-menu.show {
    background-color: $color-transition;
}

header.top_header nav ul .dropdown a.dropdown-item {
    color: black;
}

a.dropdown-item.line-drop {
    border-bottom: 1px solid antiquewhite;
}

// Interface
.interface nav ul {
    margin-left:21%; 
    margin-top: -25px;
}

// Card teacher
.col-lg-6.col-md-12.image_prof img {
    height: 100px; 
    border-radius: 50%;
}

// Promotions

.learning-by p {
    font-size: 15px; 
    color: white; 
    margin: 15px 0;
}

small.local-global-teacher {
    font-weight: bolder;
    font-size: 10px;
}

    // Model 
    h5#exampleModalLabel {
        font-size: 19px;
        background: linear-gradient( 90deg ,#7476f3,#0aa9da);
        color: white;
        padding: 15px 30px;
    }

    .local-and-global-teacher {
        margin-left: 32%;
    }

    .content-section {
        width: 990px;
    }

    .btn-page-teacher {
        margin-top: 50%;
    }

    .card-body.professor_teach img {
        height: 120px;
        border-radius: 50%; 
        margin: 20px 0;
    }

    .list-button .link_important.more-add-main {
        padding: 8px 17px;
    }

    .card.teach-in-the-world {
        margin-top: 35px;
    }

    .title-larg img {
        height: 35px; 
        float: left;
    }

    .list-study img {
        height: 25px;
    }

    .custom-h6.teach-in-the-world img {
        height: 35px; 
        margin-right: 5px;
    }

    .id.teacher {
        font-weight: bolder;
    }

    .teach-in-the-world.add-top {
        margin-top: 35px;
    }

    .badge img {
        height: 35px; 
        float: left;
    }

    // Interface teacher
    ul.navbar-nav.mr-auto.interface-teacher {
        margin-left:18.5%; 
        margin-top: -25px;
    }

    ul.navbar-nav.mr-auto.interface-teacher.c-white {
        margin-left:18.5%; 
        margin-top: -25px;
    }

    // Filter Phone
    a.btn.btn-primary.mt-4.mb-2.ml-2 {
        padding: 17px 34px;
    }

    .content-modal-card {
        color: white; 
        background-color: rgb(52, 159, 247); 
        border-radius: 12px; font-weight: bold;
    }

    .form-card {
        border: 0; 
        padding: 0px  10px 5px 0; 
        border-radius: 0.5px; 
        margin-top: -19px;
    }

    .body-booking {
        background-color: #5ec1fa;
    }

    .from-date-top {
        width: 50%;
    }

    .pro-easy-mode {
        background-color: black;
    }

    .filter-search-now {
        margin-top: 10%;
    }

    .booking-section {
        padding: 0 30px;
    }

    .line-bottom.xline {
        border-bottom: 0.5px solid gray; 
        margin-top: 5%; 
        width: 120%; 
        margin-left: -31px;
    }

    .writer {
        color: black;
    }

    .more-writer {
        margin-right: 36px;
    }

    .all-days {
        line-height: 5px; 
        color: black;
    }

    .btn.btn-click {
        background-color: black; 
        padding: 5px 43px; color: white; 
        font-weight: bold;
    }

    button.btn.btn-click {
        background-color: black; 
        padding: 5px 9px; 
        color: white; 
        font-weight: bold;
    }

    .content-modal-card .modal.fade .modal-header h5 {
        background-color: dodgerblue; 
        padding: 7px 14px;
    }

    .modal-body span {
        color: black;
    }

    .time-booked-online {
        background-color: black; 
        color: white; 
        padding: 5px 50px;
    }

    .content-modal-card.text-center .btn.btn-click {
        font-size: 13.5px; 
        background-color: black; 
        padding: 5px -5px 5px 30.5px; 
        color: white; 
        font-weight: bold;
    }

    button.model-classes {
        background-color: black;
    }

    .modal-title #exampleModalLabel {
        color: white; 
        background-color: dodgerblue; 
        padding: 7px 14px;
    }

    .custom-click {
        background-color: black; 
        padding: 5px 17.5px 5px; 
        color: white; 
        font-weight: bold;
    }

    .modalPlan {
        padding: 7px 22px;
        background-color: dodgerblue;
    }

    .form-inline .icon-png img {
        height: 45px;
    }

    .custom-pro-btn {
        padding: 0 31.5px;
    }

    .card-info-teachers {
        border-left: 1px solid gray;
        margin-top: 12px;
    }

    .card-body.teacher-img img {
        height: 120px; 
        border-radius: 50%; 
        margin: 20px 0;
    }

    .line-bottom.Yline {
        border-bottom: 1px solid gray;
    }

    .content-modal-card.text-center {
        margin-top: 20px;
    }

// Responsive website 

@media (min-width: 300px) and (max-width: 575.98px) {

    nav.navbar.navbar-expand-lg.fixed-top {
        background-color: $color-e;
    }

    header.top_header nav ul li.item-anthor {
        margin-top: 20px;
        padding: 10px 25px;
    }

    header.top_header .image_eduction_one img {
        margin: 40% 0 0 0;
        height: 275px;
    }

    header.top_header .link-sign-up a {
        display: block;
        margin-top: 25px;
    }

    header.top_header .icon-social-media ul {
        display: none;
    }

    header.top_header .link-sign-up.text-center {
        margin-bottom: 25%;
    }

    header.top_header #carouselSliderIndicators a img {
        height: 30px;
        top: 94%;
    }

    section.About_us img {
        height: 280px;
    }

    section.About_us .long-description ul li {
        display: block;
        text-align: center;
    }

    section.how-it-works .how-to-use-website .numbers h3 {
        width: 35px;
        height: 35px;
        line-height: 35px;
        font-size: 17px;
    }

    section.how-it-works .how-to-use-website .numbers .description {
        font-weight: normal;
        margin-left: 3px;
        font-size: 15px;
    }

    section.how-it-works .vedio_motion iframe {
        width: 100%;
        margin-top: 25px;
    }

    footer.latest-footer {
        margin-top: 30%;
    }

    footer.latest-footer h4.heading-mail {
        font-size: 20px;
    }

    footer.latest-footer .title-column h4.custom-heading {
        margin: 30px 0;
        font-size: 20px;
    }

    footer.latest-footer .copyright p {
        font-weight: normal;
    }

    // Responsive page about us 
    header.top_header .link-sign-up a {
        display: block;
    }

    header.top_header .image img {
        height: 275px;
    }

    // Page contact-us
    section.Contact .image-msg img {
        height: 160px;
        margin-top: 20%;
    }

    // Responsive Rate Teachers page
    h6.cst-title {
        margin: 35px 0;
    }

    label.per-day {
        margin: 10px 0;
    }

    // Filter Date Time

    .From-To-Date p.between {
        margin: 3px 15px;
    }

    .From-to-time {
        position: relative;
        margin: 15px 0;
        display: contents;
    }

    .form-group button.filter-btn {
        margin: -10px 0;
    }

     // Interface
     .interface nav ul {
        margin-left: 0;
        margin-top: 0;
    }

    .interface nav ul .dropdown {
        margin-top: 12px;
    }

    header.top_header nav ul .dropdown {
        padding: 10px 20px;
    }

    // List teacher
    .col-lg-6.col-md-12.image_prof {
        text-align: center;
    }

    .star-teachers {
        text-align: center;
    }

    .Price-class {
        text-align: center;
    }

    // Promo Flags
    .image-flags {
        text-align: center;
    }

      // Btn promotions
    ul.list-inline.mt-3.text-center li {
        display: block;
    }
    ul.list-inline.mt-3.text-center li a {
        display: block;
        margin-top: 15px;
    }

    h5#exampleModalLabel {
        padding: 10px;
    }

     // Filter desktop none
    .filter-desktop {
        display: none;
    }

    .content-section {
        width: 100%;
    }

    .btn-page-teacher {
        margin-top: 0;
    }

    section.card {
        padding: 10px;
    }

     // navbar teacher
    ul.navbar-nav.mr-auto.interface-teacher {
        margin-top: 0;
        margin-left: 0;
    }

    ul.navbar-nav.mr-auto.interface-teacher .dropdown {
        display: block;
        margin-top: 12px;
    }

    ul.navbar-nav.mr-auto.interface-teacher.c-white {
        margin-top: 0;
        margin-left: 0;
    }

    ul.navbar-nav.mr-auto.interface-teacher.c-white .dropdown {
        display: block;
        margin-top: 12px;
    }

    ul.list-inline.text-center.local-and-global-teacher {
        margin: 5px;
    }

    .show-filter-phone {
        margin: 0 50px;
    }

    .form-inline.male-famele {
        display: block;
    }

    .container.content-section {
        width: 100%;
    }

}

@media (min-width: 417px) and (max-width: 575px) {

    .form-inline {
        display: block !important;
        position: relative !important;
    }

    footer.latest-footer .line {
        width: 108px;
        margin: -30px auto 30px -3px;
    }

    footer.latest-footer .title-column h4.custom-heading {
        margin: 40px 0;
    }

    footer.latest-footer .line.links {
        width: 185px;
    }

    footer.latest-footer .line.info {
        width: 145px;
        margin: -35px auto 30px 0;
    }

    footer.latest-footer .title-column h4.custom-heading.more-style {
        margin: 10px 0;
    }

    footer.latest-footer .line.info {
        width: 145px;
        margin: 0 auto 30px 0;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {

    nav.navbar.navbar-expand-lg.fixed-top {
        background-color: $color-e;
    }

    header.top_header nav ul li.item-anthor {
        margin-top: 20px;
        padding: 10px 25px;
    }

    header.top_header .image_eduction_one img {
        margin: 20% 0 0 0;
    }

    header.top_header .link-sign-up a {
        display: block;
    }

    .icon-social-media ul {
        padding: 0;
        margin: 12% 0;
    }

    header.top_header #carouselSliderIndicators a img {
        top: 95%;
    }

    section.About_us .long-description ul li {
        display: block;
        text-align: center;
    }

    section.how-it-works .vedio_motion iframe {
        margin-top: 30px;
        width: 100%;
    }

    footer.latest-footer {
        margin-top: 15%;
    }

    footer.latest-footer ul {
        margin-top: 1%;
        margin-bottom: 25px;
    }

    // Responsive page about us 
    header.top_header .link-sign-up a {
        display: block;
    }

    // Page contact
    section.Contact .image-msg img {
        height: 280px;
    }

    // Responsive Rate Teachers page
    h6.cst-title {
        margin: 35px 0;
    }

    label.per-day {
        margin: 10px 0;
    }

    section.Choose-teacher .card-group .card h5 {
        font-size: 16px;
    }

    span.details-more {
        font-size: 14px;
        font-weight: bold;
    }

    // Filter Teachers

    .form-group button.filter-btn {
        margin: 15px 0 0;
    }

     // Interface
     .interface nav ul {
        margin-left: 0;
        margin-top: 0;
    }

    .interface nav ul .dropdown {
        margin-top: 12px;
    }

    header.top_header nav ul .dropdown {
        padding: 10px 20px;
    }

    // List teacher
    .col-lg-6.col-md-12.image_prof {
        text-align: center;
    }

    .star-teachers {
        text-align: center;
    }

    .Price-class {
        text-align: center;
    }

    // Promo Flags
    .image-flags {
        text-align: center;
    }

     // Filter desktop none
     .filter-desktop {
        display: none;
    }

    .local-and-global-teacher {
        margin-left: 25%;
    }

    .btn-page-teacher {
        margin-top: 0;
    }

     // navbar teacher
    ul.navbar-nav.mr-auto.interface-teacher {
        margin-top: 0;
        margin-left: 0;
    }

    ul.navbar-nav.mr-auto.interface-teacher .dropdown {
        display: block;
        margin-top: 12px;
    }

    ul.navbar-nav.mr-auto.interface-teacher.c-white {
        margin-top: 0;
        margin-left: 0;
    }

    ul.navbar-nav.mr-auto.interface-teacher.c-white .dropdown {
        display: block;
        margin-top: 12px;
    }

     // Filter Phone
     .show-filter-phone {
        margin: 0 180px;
    }

    .container.content-section {
        width: 100%;
    }

}

@media (min-width: 768px) and (max-width: 991.98px) {

    header.top_header nav ul li.item-anthor {
        margin-top: 20px;
        padding: 10px 25px;
    }

    // Fixed Top
    header.top_header .image_eduction_one img {
        margin: 16% 0 5% 0;
    }

    nav.navbar.navbar-expand-lg.fixed-top {
        background-color: $color-e;
    }

    header.top_header h3.text-heading {
        margin-top: 0%;
    }

    .icon-social-media ul {
        padding: 0;
        margin: 10%;
    }

    header.top_header #carouselSliderIndicators a img {
        top: 94.5%;
    }

    section.how-it-works .vedio_motion {
        text-align: center;
    }

    section.how-it-works .vedio_motion iframe {
        margin-top: 5%;
    }

    section.Choose-teacher .card-group .card img {
        height: 250px;
    }

    footer.latest-footer ul {
        margin-top: 1%;
        margin-bottom: 25px;
    }

    // Responsive page about us 
    header.top_header .link-sign-up a {
        display: block;
    }

    // Responsive Rate Teachers page
    h6.cst-title {
        margin: 20px 0;
        margin-top: 35px;
    }

    label.per-day {
        margin: 10px 0;
    }

    // Filter Teachers

    form.form-inline {
        display: inline-block !important;
    }

    .From-to-time {
        margin: 0;
    }

    .form-group button.filter-btn {
        margin: 0;
    }

    // Interface
    .interface nav ul {
        margin-left: 0;
        margin-top: 0;
    }

    .interface nav ul .dropdown {
        margin-top: 12px;
    }

    header.top_header nav ul .dropdown {
        padding: 10px 20px;
    }

    // List teacher
    .col-lg-6.col-md-12.image_prof {
        text-align: center;
    }

    .star-teachers {
        text-align: center;
    }

    .Price-class {
        text-align: center;
    }

    // Promo Flags
    .image-flags {
        text-align: center;
    }

    // Filter desktop none
    .filter-desktop {
        display: none;
    }

    
    .btn-page-teacher {
        margin-top: 0;
    }

    // navbar teacher
    ul.navbar-nav.mr-auto.interface-teacher {
        margin-top: 0;
        margin-left: 0;
    }

    ul.navbar-nav.mr-auto.interface-teacher .dropdown {
        display: block;
        margin-top: 12px;
    }

    ul.navbar-nav.mr-auto.interface-teacher.c-white {
        margin-top: 0;
        margin-left: 0;
    }

    ul.navbar-nav.mr-auto.interface-teacher.c-white .dropdown {
        display: block;
        margin-top: 12px;
    }

    // Filter Phone
    .show-filter-phone {
        margin: 0 275px;
    }


}

@media (min-width: 992px) and (max-width: 1199.98px) {

    header.top_header nav a img {
        height: 60px;
    }

    header.top_header nav ul li a {
        font-size: 14px;
    }

    section.About_us .long-description h5.custom_heading {
        font-family: $font-write;
        font-weight: 600;
        font-size: 15px;
    }

    section.how-it-works .vedio_motion iframe {
        width: 100%;
        height: 250px;
    }

    // Responsive page .about-us

    section.About_us .title_item h3 {
        font-size: 23px;
    }

    h4.heading-mail {
        font-size: 21px;
        color: $color-white;
    }

    // Page contact-us responsive

    section.Contact .image-msg img {
        height: 260px;
    }

    // card teacher
    .col-lg-4.col-md-6.col-sm-6.col-12.add-teacher {
        display: none;
    }

    // pricing

    .col-lg-4.col-md-6.col-sm-6.col-12.add-package {
        display: none;
    }

    // Filter Teachers

    .From-To-Date p.between {
        margin: 0px 3px;
    }

    // List teacher

    .Price-class p small {
        margin-right: -10px;
    }

    .Price-class p span {
        margin-left: 20px;
    }

    .star-teachers {
        text-align: center;
    }

    // Promotions page
    
    .Price-class p.promo-perfect span.promo-card-top {
        margin-left: -13px;
        font-size: 16px;
        padding: 0 3px;
    }

    .Price-class p small.per-class {
        margin-right: 0px;
    }

    // Btn promotions
    ul.list-inline.mt-3.text-center li {
        display: block;
    }
    ul.list-inline.mt-3.text-center li a {
        display: block;
        margin-top: 15px;
    }

    .filter-phone {
        display: none;
    }

    // List card teachers
    .card-list-teachers {
        text-align: center;
    }

    .price-stars-contracts {
        text-align: center;
    }


}

@media (max-width: 1351px) and (min-width: 1200px) {

    // Good Responsive
    .col-lg-4.col-md-6.col-sm-6.col-12.add-teacher {
        display: none;
    }

    // pricing

    .col-lg-4.col-md-6.col-sm-6.col-12.add-package {
        display: none;
    }

    .filter-phone {
        display: none;
    }

    // List card teachers
    .card-list-teachers {
        text-align: center;
    }

    .price-stars-contracts {
        text-align: center;
    }
}

@media (max-width: 2000px) and (min-width: 1400px) {
    .Price-class.text-center.more-main {
        margin: 10px;
    }

    .filter-phone {
        display: none;
    }

    // List card teachers
    .card-list-teachers {
        text-align: center;
    }

    .price-stars-contracts {
        text-align: center;
    }
}